.heading{
    font-size: 23px;
    margin: 0px;
    box-shadow:15px 15px 15px rgb(0, 191, 255) ;
}

.note{
    font-size: 15px;
    color: black;
}

.copy_right_footer{
    position: fixed;
    color: blue;
    bottom: 0;
    background-color: aqua;
    line-height: 3;
    text-align: center;
    width: 100%;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

.heading-2{
    color: blue;
}